.footer {
  border-style: inset;
  border-color: black;
  border-width: medium;
  background-color: white;
  width: calc(100vw - 30px);
  right: 0;
  height: 5.5rem;
  bottom: 0;
  padding: 1rem;
  position: fixed;
  // margin: .5rem 1rem;
  text-align: center;
  transition: 200ms;
  &:hover {
    box-shadow: 0 0 2rem gray;
  }
}

.footer p {
  color: black;
  font-family: "Roboto", sans-serif;
}
