.footer {
  border-style: inset;
  border-color: black;
  border-width: medium;
  background-color: white;
  width: calc(100vw - 30px);
  // width: 100%;
  right: 0;
  height: 10%;
  bottom: 0;
  position: fixed;
  text-align: center;
  transition: 200ms;
  &:hover {
    box-shadow: 0 0 2rem gray;
  }
  .alliconswrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.footer p {
  color: black;
  font-family: "Roboto", sans-serif;
}
