.navbar {
  border-style: inset;
  border-color: black;
  border-width: medium;
  width: 160px;
  padding: 40px;
  position: absolute;
  top: 0;
  left: 0;
  height: 2000px;
  transition: 200ms;
  &:hover {
    box-shadow: 0 0 2rem gray;
  }
  a {
    color: black;
    text-align: center;
    text-decoration: none;
    word-spacing: 2em;
    font-family: "Questrial", sans-serif;
    size: 50px;
    &:hover {
      font-weight: 900;
    }
  }
  ul {
    list-style-type: none;
    padding: 2px;
    text-align: center;
    letter-spacing: 1.5px;
    font-size: 20px;
    padding-top: 285px;
    position: fixed;
  }
}
