.navbar {
  border-style: inset;
  border-color: black;
  border-width: medium;
  max-width: 160px;
  padding: 40px;
  position: absolute;
  top: 0;
  left: 0;
  height: 275vh;
  transition: 200ms;
  &:hover {
    box-shadow: 0 0 2rem gray;
  }
  a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: "Questrial", sans-serif;
    size: 16px;
    &:hover {
      font-weight: 900;
    }
  }
  ul {
    list-style-type: none;
    padding: 8px;
    padding-top: 185px;
  }
}
