.introduction_self {
  h1 {
    font-family: "Questrial", sans-serif;
    margin-left: 150px;
    margin-right: 150px;
    font-weight: 1000;
    word-spacing: 5px;
    letter-spacing: 3px;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    -webkit-text-stroke: 2.5px black;
    -webkit-text-fill-color: white;
    -webkit-animation: fill 0.2s infinite alternate;
  }
  @-webkit-keyframes fill {
    from {
      -webkit-text-fill-color: black;
    }
    to {
      -webkit-text-fill-color: black;
    }
  }

  h2 {
    font-family: "Questrial", sans-serif;
    font-size: 30px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    font-weight: 100;
    word-spacing: 5px;
  }
  p {
    color: black;
    font-family: "Questrial", sans-serif;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    font-weight: 100;
    word-spacing: 5px;
  }
}
