.allicons {
  display: flex;
  height: 1%;
  margin-left: 150px;
  margin-right: 150px;
  justify-content: space-evenly;
  padding-top: 100px;
}

.iconcoop {
  display: flex;
  justify-content: center;
}
