@import "./variables";
@import "./components";
@import "./layouts";
@import "./pages";

html {
  background-color: white;
}

h1 {
  color: black;
  font-family: "Questrial", sans-serif;
  font-size: 50px;
  word-spacing: 5px;
  letter-spacing: 3px;
}

h2 {
  font-family: "Questrial", sans-serif;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  font-weight: 100;
  word-spacing: 5px;
  letter-spacing: 3px;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
  -webkit-animation: fill 0.2s infinite alternate;
}
@-webkit-keyframes fill {
  from {
    -webkit-text-fill-color: black;
  }
  to {
    -webkit-text-fill-color: black;
  }
}

h3 {
  color: black;
  font-family: "Questrial", sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  margin: 0 auto;
  letter-spacing: 3px;
}

h4 {
  color: black;
  font-family: "Questrial", sans-serif;
  text-align: center;
  font-size: 55px;
  letter-spacing: 3px;

  -webkit-text-stroke: 2.5px black;
  -webkit-text-fill-color: white;
  -webkit-animation: fill 0.2s infinite alternate;
}

@-webkit-keyframes fill {
  from {
    -webkit-text-fill-color: black;
  }
  to {
    -webkit-text-fill-color: black;
  }
}

p {
  color: black;
  font-family: "Questrial", sans-serif;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 100;
  word-spacing: 5px;
  letter-spacing: 1px;
}

.bm-burger-button {
  display: none;
}

@media only screen and (max-width: $Phones) {
  .navbar {
    display: none;
  }
  .bm-burger-button {
    display: block;
  }
}
