* {
  box-sizing: border-box;
  cursor: pointer;
  padding-right: 10px;
}

html {
  background-color: white;
  padding: 0;
  margin: 0 auto;
}

body {
  padding: 0;
}

.push {
  height: 100px;
}

.container {
  display: flex;
}

.page-container {
  min-height: calc(100vh - 173px);
  min-width: calc(100vw - 30px);

  padding: 24px;
  border-style: inset;
  border-color: black;
  border-width: medium;
  margin-left: 180px;
  margin-top: 192px;
  top: 0;
  transition: 200ms;
  &:hover {
    box-shadow: 0 0 2rem grey;
  }
}

.banner {
  top: 0;
  transition: 200ms;
  &:hover {
    box-shadow: 0 0 2rem grey;
  }
  h1 {
    color: black;
    font-family: "Questrial", sans-serif;
    padding-left: 123px;
    font-size: 40px;
  }
  p {
    color: black;
    font-size: 22px;
  }
}
