* {
  box-sizing: border-box;
  cursor: pointer;
}

html {
  background-color: white;
  padding: 0;
  margin: 0 auto;
}

body {
  padding: 0;
}

.push {
  height: 100px;
}

.container {
  display: flex;
}

.page-container {
  min-height: calc(100vh - 173px);
  padding: 24px;
  border-style: inset;
  border-color: black;
  border-width: medium;
  margin-left: 180px;
  margin-top: 217px;
  margin-right: 17px;
  margin-bottom: 150px;
  top: 0;
  transition: 200ms;
  &:hover {
    box-shadow: 0 0 2rem grey;
  }
}

.banner {
  top: 0;
  transition: 200ms;
  &:hover {
    box-shadow: 0 0 2rem grey;
  }
  h1 {
    color: black;
    font-family: "Questrial", sans-serif;
    padding-left: 123px;
    font-size: 40px;
  }
  p {
    color: black;
    font-size: 22px;
  }
}

@media only screen and (max-width: $Phones) {
  .navbar {
    display: none;
  }
  .bm-burger-button {
    display: block !important;
  }
  .banner h1 {
    padding-left: 40px;
  }
  .banner p {
    padding-top: 40px;
    padding-right: 25px;
    padding-left: 20px;
  }
  .banner {
    margin: 0 auto;
    position: fixed;
  }
  .page-container {
    margin: 1px;
    margin-top: 185px;
    box-sizing: content-box;
  }
  .footer {
    height: 150px;
    position: static;
    width: 100vw;
    margin-right: 0;
    position: fixed;
  }
}
